* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Montserrat", sans-serif;
}
.pages {
  margin-top: 60px;
  height: calc(100vh - 60px);
}

a {
  text-decoration: none;
  color: white;
}

input {
  outline: none;
  border: none;
}

button {
  outline: none;
  cursor: pointer;
  border: none;
}

button:hover {
  opacity: 0.8;
}
